doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/ace/src-min/ace.js')
  body
    div(class="liveContainer")
      div(class="topbar")
        select(id="language")
          option C#
          option C
          option C++
          option java
          option javascript
          option Ruby
          option Python
        input(type="button", value="Run", id="run") 
      div(class="editorConatiner")
        div(id="editor", class="liveEditor")
        div(id="iocontainer")
          div(id="editorI", class="liveEditorInput")
          div(id="editorO", class="liveEditorOutput")
    script.

      //- editor
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");
      editor.setOptions({
        fontFamily: "tahoma"
      });
      
      //- editor Input
      var editorI = ace.edit("editorI");
      editorI.setTheme("ace/theme/monokai");
      editorI.getSession().setMode("ace/mode/javascript");
      editorI.setOptions({
        fontFamily: "tahoma"
      });

      //- editor Output
      var editorO = ace.edit("editorO");
      editorO.setTheme("ace/theme/monokai");
      editorO.getSession().setMode("ace/mode/javascript");
      editorO.setOptions({
        fontFamily: "tahoma",
        readOnly : true
      });

      var btn = document.getElementById('run');
      btn.addEventListener('click', function(){
          var code = 	editor.getValue();
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                debugger;
            }
          };
          xhttp.open("GET", "/run", true);
          xhttp.send("code="+code);
      });
    block content
