body {
	margin : 0px;
}
.liveContainer{
	position: absolute;
	top: 0px;
	left : 0px;
	right : 0px;
	bottom: 0px;
	background-color: grey;
	display: flex;
	flex-direction: column;
}
.topbar{
	height : 50px;
	background-color: teal;
	border : 5px solid turquoise;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.editorConatiner{
	flex : 1;
	position: relative;
	border : 5px solid turquoise;
	border-top: 0px;
	display: flex;
	flex-flow: row wrap;
}
.liveEditor{
	height: 100%;
	flex: 2;
}
#iocontainer{
	flex: 1;
	border-left: 5px solid turquoise;
	display: flex;
	flex-direction: column;
}
.liveEditorInput{
	flex : 3;
	border-bottom: 5px solid turquoise;
}
.liveEditorOutput{
	flex : 7;
}


#run{
	width : 100px;
	height : 30px;
	background-color : chocolate;
	border : 2px solid orange;
	border-radius : 4px;
}
#language{
	width: 200px;
	height : 30px;
	border : 2px solid orange;
	background-color : chocolate;
	margin : 10px;
}


